html {
  font-family: "Comic Neue";
}

body {
  font-family: "Comic Neue";
  background: linear-gradient(to bottom, #a8e61d, #fff200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  animation: rotateBackground 1s infinite linear;
}

@keyframes rotateBackground {
  0% {
    background: linear-gradient(to bottom, #a8e61d, #fff200);
  }
  50% {
    background: linear-gradient(to bottom, #ff1493, #ff7f50);
  }
  100% {
    background: linear-gradient(to bottom, #ff7f50, #ff1493);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #ff69b4;
  /* transform: rotate(5deg); */
}

h1 {
  color: #f3e8fd;
  font-size: 3em;
  text-shadow: 2px 2px #5ce9ff;
  animation: wiggle 1s infinite;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.skull {
  /* width: 80px; */
  height: 80px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.calculator {
  background-color: #00ff00;
  border: 5px dashed #0000ff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 0 30px #ff4500;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 20px;
  transform: skewX(3deg);
}

#display {
  background-color: #ffd700;
  border: 3px dotted #ff0000;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 2.5em;
  min-height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  word-wrap: break-word;
  /* transform: rotate(-5deg); */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  padding: 25px;
  background-color: #adff2f;
  border: 3px solid #ff4500;
  border-radius: 15px;
  font-size: 1.8em;
  cursor: pointer;
  color: #0000cd;
  transform: rotate(-10deg);
}

button:hover {
  background-color: #ffff00;
  color: #ff0000;
  transform: rotate(10deg);
}

.footer {
  border-top: 5px double #ff6347;
  padding-top: 15px;
}

marquee {
  width: 100%;
  font-size: 1.5em;
  color: #4b0082;
  font-weight: bold;
  display: flex;
  align-content: center;
  align-self: center;
  display: flex;
  vertical-align: middle;
  align-items: center;
  animation: marqueeColor 1s infinite;
}

@keyframes marqueeColor {
  0%,
  100% {
    color: #4b0082;
  }
  50% {
    color: #8a2be2;
  }
}

/* img {
  margin-top: 15px;
  width: 120px;
  height: auto;
  transform: rotate(-5deg);
} */

#gif-container {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#thinking-gif {
  width: 200px;
  height: auto;
}

#thinking-texts {
  margin-top: 20px;
}

.hidden {
  display: none;
}
#left-gif-container,
#right-gif-container {
  display: none;
  align-items: center;
}

#left-gif-container img,
#right-gif-container img {
  width: 250px;
  height: auto;
}

.flex {
  width: screen;
  gap: 50px;
  align-content: center;
  align-self: center;
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.dance {
  width: 150px;
}

.wiggly {
  animation: skewAnimation 0.5s infinite alternate; /* Adjust the animation duration and iteration count as needed */
}

@keyframes skewAnimation {
  0% {
    transform: skewX(-10deg) rotate(0deg);
  }
  100% {
    transform: skewX(0deg) rotate(-5deg); /* Adjust the skew angle as needed */
  }
}

.flex-goat {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  /* position: relative; */
}

.goat {
  width: 150px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.flex-goat .middle {
  animation: appear 4s ease infinite; /* Adjust the duration and iteration count */
}

.flex-goat .left {
  animation: moveLeft 4s ease infinite; /* Adjust the duration and iteration count */
}

.flex-goat .right {
  animation: moveRight 4s ease infinite; /* Adjust the duration and iteration count */
}
