html {
  font-family: "Comic Neue";
}

body {
  font-family: "Comic Neue";
  background: linear-gradient(to bottom, #ff7f50, #ff1493);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #ff69b4;
}

h1 {
  color: #8a2be2;
  font-size: 3em;
  text-shadow: 2px 2px #ffa07a;
}

.skull {
  width: 50px;
  height: 50px;
}

.calculator {
  background-color: #00ff00;
  border: 5px dashed #0000ff;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 0 30px #ff4500;
  width: 320px;
  margin-bottom: 20px;
}

#display {
  background-color: #ffd700;
  border: 3px dotted #ff0000;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 2.5em;
  min-height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  word-wrap: break-word;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  padding: 25px;
  background-color: #adff2f;
  border: 3px solid #ff4500;
  border-radius: 15px;
  font-size: 1.8em;
  cursor: pointer;
  color: #0000cd;
}

button:hover {
  background-color: #ffff00;
  color: #ff0000;
}

.footer {
  margin-top: 25px;
  border-top: 5px double #ff6347;
  padding-top: 15px;
}

marquee {
  font-size: 1.5em;
  color: #4b0082;
  font-weight: bold;
}

img {
  margin-top: 15px;
  width: 120px;
  height: auto;
}
